*{
    color: #ececec;
    font-family: Roboto, 'open-sans', sans-serif, 'Helvetica neue';

}

body{
    margin: 0;
    padding: 0;
}

.app{
    background-color: #212121;
    display: flex;
}

.appLoader {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #212121;
    color: #ececec;
    font-size: 1rem;
}
