.chats{
    max-width: 700px;
    overflow-y: scroll;
    padding: 8rem;

}
.userDiv{
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.gptDiv{
    text-align: left;
    font-size: 0.9rem;
}
.userMessage{
    background-color:#323232 ;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width:fit-content;
}


.chats {
    max-width: 700px;
    height: calc(100vh - 180px);
    overflow-y: auto;
    padding: 2rem 1.5rem;
    margin: 0 auto;

    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}

.chats::-webkit-scrollbar {
    width: 6px;
}

.chats::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    max-width: 70%;
    width: fit-content;
}


.hljs{
    border-radius: 14px;
}
.pre{
    white-space: pre-wrap;
}